<h1>Listado de heroes</h1>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>
    Héroe borrado <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()"
  *ngIf="heroesName.length > 0"
>
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let name of heroesName">{{ name }}</li>
</ul>
